.navbar {
	background-color: white;
	border-bottom: 1px solid rgb(202, 202, 202);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 70px;
}

.navContent {
	display: flex;
	align-items: center;
	gap: 30px;
	height: 60px;
}

.bookList {
	margin: 50px;
}

.book {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
}